@import url("https://kunversion-frontend-custom.s3.amazonaws.com/overwrites/froala-editor/clear.css");
/*-- Custom Body --*/
body.header-transparent.front .cover-image {
  background-size: cover !important;
  background-position: center !important;
}

body.header-transparent.front .cover.cover-center.agent .cover-title {
  top: 62%;
}

#hero_wrpr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 940px;
  text-align: center;
  margin: 0 auto;
  padding: 0 15px !important;
  color: white;
  text-shadow: 1px 1px 5px #333;
  font-size: 2em;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  z-index: 1;
}

#hero_wrpr h1 {
  font-size: 46px;
  font-weight: 600;
}

.hero_button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

#hero_button {
  border-radius: 50px;
  padding: 12px 25px;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
  text-transform: uppercase;
  font-size: 22px;
  background: #fff !important;
  font-weight: 600;
  color: #444 !important;
  text-shadow: none !important;
  text-decoration: none !important;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#hero_button:link,
#hero_button:visited,
#hero_button:hover,
#hero_button:active {
  background-color: #fff;
  color: #444 !important;
}

.hero-section {
  padding: 50px 15px;
  background-color: #eee;
  background-image: url("https://gl.githack.com/JakesFate/kvcore/-/raw/master/bg.svg");
}

.statement-tag {
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1.3px;
}

.statement-tag:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 1px;
  margin-right: 5px;
  background-color: #000;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.statement-tag:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 1px;
  margin-left: 5px;
  background-color: #000;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

#area-wrpr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1440px;
  margin: auto;
}

.area-item {
  position: relative !important;
  width: 30%;
  height: 300px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repear;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 6px 20px;
          box-shadow: rgba(0, 0, 0, 0.4) 0 6px 20px;
  cursor: pointer;
}

.area-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.area-item__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 101, 168, 0.8)), to(rgba(0, 0, 0, 0.01)));
  background-image: linear-gradient(to left, rgba(0, 101, 168, 0.8), rgba(0, 0, 0, 0.01));
  height: 45px;
}

.area-title {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  color: #fff;
  font-size: 24px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  z-index: 10;
  text-transform: uppercase;
}

.flx-ctr {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flx-ctr.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.flx-ctr.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-ctr_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flx-ctr_row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flx-ctr_col_50per {
  width: 50%;
  height: 450px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.flx-ctr_col_50per p {
  max-width: 550px;
}

.flx-ctr_col_50per.dark {
  background-image: radial-gradient(#333, #000);
  color: white;
}

.c-banner {
  padding: 20px 15px 40px;
  background: #00375c;
  text-align: center;
  color: #e6e6e6;
}

.c-banner h2 {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
  font-weight: bold;
  margin-top: 20px;
}

.c-banner p {
  font-size: 16px;
}

.bg-ctr_cvr {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-ctr_cvr.fixed {
  background-attachment: fixed;
}

.box-icon__wrapper {
  background: white;
  padding: 20px;
  border: 2px solid;
  border-radius: 100%;
  margin-bottom: 20px;
}

.box-header {
  text-transform: uppercase;
  font-weight: bold;
  color: #c0cccb;
  letter-spacing: 1.3px;
}

.box-header.large {
  font-size: 36px;
}

.box-icon {
  width: 50px;
  height: 50px;
}

.box-btn {
  display: inline-block;
  padding: 14px 25px;
  font-weight: 400 !important;
  text-decoration: none !important;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #0065a8 !important;
  color: #fff !important;
  border-radius: 3px;
  cursor: pointer;
}

.box-btn.dark {
  color: white !important;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.box-btn:link {
  background-color: inherit;
  color: inherit;
}

.box-btn:visited {
  background-color: inherit;
  color: inherit;
}

.box-btn:hover,
.box-btn.dark:hover {
  background-color: #e6e6e6 !important;
  color: #323232 !important;
}

.box-btn:active {
  background-color: inherit;
  color: inherit;
}

.questions-wrapper {
  height: auto;
  padding: 50px 15px;
  background: #00375c;
  margin-bottom: 6px;
}

.questions-inner {
  height: 100%;
  text-align: center;
}

/* New Finance Page */
#finance-bodycontent .listing-detail.col-md-12 > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

#finance-bodycontent .listing-detail.col-md-12 > .row > .col-md-6 {
  width: 100%;
}

#finance-bodycontent .listing-detail.col-md-12 > .row > .col-md-6 .overview ul {
  max-width: 300px;
}

/* ----- Seller Page ----- */
#marketing-wrapper .nav-link span {
  margin-left: 1rem;
  vertical-align: middle;
}

#marketing-wrapper .nav.nav-pills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

#marketing-wrapper .nav-pills .nav-item {
  margin-left: 0;
}

#marketing-wrapper .nav-pills .nav-link {
  background-color: transparant;
  border-bottom: 1px solid transparant;
  border-radius: 0;
}

#marketing-wrapper .nav-pills .nav-link.active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  color: inherit;
}

#marketing-wrapper .tab-content .tab-pane .row .col-12,
#marketing-wrapper .tab-content .tab-pane .row .col-6,
#marketing-wrapper .tab-content .tab-pane .row .col-12,
#marketing-wrapper .tab-content .tab-pane .row .col-6 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

#marketing-wrapper .tab-content {
  border-left: 1px solid rgba(0, 0, 0, 0.4);
}

#marketing-wrapper .tab-content .tab-pane .row {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

#marketing-wrapper img.icon {
  height: 38px;
}

/*--Custom Page Tabs--*/
.nav-tabs {
  margin: 0;
  background-color: transparent;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li:last-of-type > a {
  margin-right: 0;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}

.nav-tabs > li > a.active:hover {
  color: #555;
  background-color: #fff;
  border-bottom-color: transparent;
}

.nav.nav-tabs > li > a {
  position: relative;
  display: block;
  padding: 8px 10px;
  cursor: pointer;
}

.nav.nav-tabs > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}

.tab-content {
  padding: 24px;
  border-top: none;
  border-radius: 0 4px 4px 0;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.tab-content .col {
  line-height: 2rem;
  text-align: center;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.front #hero-tabs {
  position: relative;
  z-index: 1;
}

.front #hero-tabs .nav-tabs {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  boarder: none;
}

.front #hero-tabs .nav-tabs > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.front #hero-tabs .nav-tabs > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(51, 51, 51, 0.15);
  color: #fff;
  border: none;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

.front #hero-tabs .nav-tabs > li > a:hover {
  background-color: #00375c;
}

.front #hero-tabs .nav-tabs > li > a.active {
  background-color: #0065a8;
}

.front #hero-tabs .nav-tabs > li > a.active:hover {
  background-color: #00375c;
  color: #fff;
}

.front .tab-content {
  position: relative;
  z-index: 100;
  background-color: transparant;
  padding: 0;
  border: none;
  border-radius: 0;
}

.front .tab-content .iframe {
  height: 366px;
}

.front .tab-content .row {
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.front #horizontal-search {
  margin-top: 0 !important;
  padding-bottom: 57px !important;
}

/* ----- Search ----- */
#home-bodycontent .tokenfield.form-control {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#home-bodycontent .cover.cover-center .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  float: left;
}

#home-bodycontent .cover.cover-center .formgroup.col-xs-12.col-md-2.col-lg-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home-bodycontent #horizontal-search span.twitter-typeahead .tt-menu {
  min-width: 100%;
  z-index: 1000 !important;
}

#home-bodycontent #horizontal-search .container {
  padding: 0;
}

#home-bodycontent #horizontal-search #qs-submit {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-size: 16px;
  height: 56px;
}

#location_search-tokenfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

#scrollable-dropdown-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/*----- Bootstrap Updates -----*/
.position-realative {
  position: relative;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-white {
  color: #fff;
}

.font-weight-bold {
  font-weight: bold !important;
}

.btn-white-outline,
.btn-white-outline:hover {
  border: 1px solid #fff;
}

.row.eq.height {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.eq.height .col-xs-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

/*----- Remove Padding from Site Customizer Container -----*/
#home-bodycontent .main-wrapper .content > .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#home-bodycontent .main-wrapper .content > .container-fluid section#categories.p-t-3 {
  padding-top: 0 !important;
}

/* ----- Screen Formatting ----- */
@media screen and (min-width: 1200px) {
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}

@media screen and (min-width: 992px) {
  .front #hero-tabs .nav-tabs {
    padding: 0 1px;
  }
  .front .tab-content iframe {
    height: 150px;
  }
  .area-item {
    width: 45%;
  }
  #hero_wrpr {
    width: 100%;
    top: 150px;
  }
  #hero_wrpr h1 {
    font-size: 36px;
  }
  #hero_button {
    font-size: 18px;
  }
  #home-bodycontent .tokenfield.form-control {
    border-radius: 5px;
  }
  #home-bodycontent #horizontal-search .form-group.col-xs-12.col-md-2.col-lg-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10px;
  }
  #home-bodycontent #horizontal-search .col-md-2 {
    width: 100%;
  }
  #home-bodycontent #horizontal-search #qs-submit {
    width: 30%;
    border-radius: 50px;
  }
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
  .row.eq-height .col-lg-4 {
    -ms-flex: 0 0 33.33%;
    -webkit-box-flex: 0;
            flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

@media screen and (max-width: 875px) {
  .flx-ctr_col_50per {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .front .tab-content iframe {
    height: 204px;
  }
  .area-item {
    width: 100%;
  }
  #hero_wrpr {
    top: 100px;
    font-size: 1.3em;
    padding: 0 15px;
    margin-bottom: 0;
  }
  #hero_wrpr h1 {
    font-size: 36px;
  }
  .container-sm,
  .container-md {
    max-width: 720px;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-none {
    display: none !important;
  }
  .row.eq-height .col-md-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (min-width: 578px) {
  .front #hero-tabs .nav-tabs > li > a {
    font-weight: 600;
    font-size: 1.25rem;
  }
  #home-bodycontent #horizontal-search #qs-submit {
    width: 100%;
    border-radius: 5px;
  }
  #home-bodycontent .form-group.col-xs-12.col-md-2.col-lg-2 {
    padding-top: 5px;
  }
  .containter-sm {
    max-width: 540px;
  }
}

@media screen and (max-width: 550px) {
  .flx-ctr_col_50per {
    height: 500px;
    padding: 40px;
  }
  #hero_wrpr {
    top: 140px;
  }
  #hero_wrpr h1 {
    font-size: 32px;
  }
  #hero_button {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */