$primary-color: #0065a8
$secondary-color: #00375c
@import url("https://kunversion-frontend-custom.s3.amazonaws.com/overwrites/froala-editor/clear.css")
@import url("https://kunversion-frontend-custom.s3.amazonaws.com/overwrites/theme-color/brand.css")


body.header-transparent.front
    .cover-image
        background-size: cover !important
        background-position: center !important
    .cover.cover-center.agent
        .cover-title
            top: 62%

#hero_wrpr
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    max-width: 940px
    text-align: center
    margin: 0 auto
    padding: 0 15px !important
    color: white
    text-shadow: 1px 1px 5px #333 
    font-size: 2em
    transition: all 0.25s ease
    z-index: 1

    h1
        font-size: 46px
        font-weight: 600

.hero_button-wrapper
    display: flex
    margin-top: 20px

#hero_button
    border-radius: 50px
    padding: 12px 25px
    box-shadow: 0 0 5px #333
    text-transform: uppercase
    font-size: 22px
    background: #fff !important
    font-weight: 600
    color: #444 !important
    text-shadow: none !important
    text-decoration: none !important
    transition: all 0.25s ease
#hero_button:link,
#hero_button:visited,
#hero_button:hover,
#hero_button:active
    background-color: #fff
    color: #444 !important

.hero-section
    padding: 50px 15px
    background-color: #eee
    background-image: url("https://gl.githack.com/JakesFate/kvcore/-/raw/master/bg.svg")

.statement-tag
    text-transform: uppercase
    font-size: 0.9em
    letter-spacing: 1.3px
.statement-tag:before
    content: ""
    display: inline-block
    width: 20px
    height: 1px
    margin-right: 5px
    background-color: #000
    transform: translateY(-3px)
.statement-tag:after
    content: ""
    display: inline-block
    width: 20px
    height: 1px
    margin-left: 5px
    background-color: #000
    transform: translateY(-3px)

#area-wrpr
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    max-width: 1440px
    margin: auto

.area-item
    position: relative !important
    width: 30%
    height: 300px
    margin: 10px
    background-size: cover
    background-position: center
    background-repeat: no-repear
    box-shadow: rgba(0, 0, 0, 0.4) 0 6px 20px
    cursor: pointer

    img
        width: 100%
        height: 100%
        object-fit: cover
.area-item__overlay
    position: absolute
    bottom: 0
    right: 0
    left: 0
    background-image: linear-gradient(to left,
    rgba(0, 101, 168,0.8),
    rgba(0, 0, 0, 0.01))
    height: 45px
.area-title
    position: absolute
    bottom: 10px
    right: 10px
    margin: 0
    color: #fff 
    font-size: 24px
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8)
    z-index: 10
    text-transform: uppercase
.flx-ctr
    position: relative
    display: -webkit-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: center

.flx-ctr.row
    flex-direction: row
    position: relative
.flx-ctr.col
    flex-direction: column
.flex-ctr_row
    display: -webkit-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: center
.flx-ctr_row.reverse
    flex-direction: row-reverse
.flx-ctr_col_50per
    width: 50%
    height: 450px
    padding: 50px
    display: -webkit-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

    p
        max-width: 550px
.flx-ctr_col_50per.dark
    background-image: radial-gradient(#333, #000)
    color: white
.c-banner
    padding: 20px 15px 40px
    background: $secondary-color
    text-align: center
    color: #e6e6e6
    h2
        color: #fff
        text-transform: uppercase
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9)
        font-weight: bold
        margin-top: 20px
    p
        font-size: 16px
.bg-ctr_cvr
    background-size: cover
    background-position: center
    background-repeat: no-repeat
.bg-ctr_cvr.fixed
    background-attachment: fixed
.box-icon__wrapper
    background: white
    padding: 20px
    border: 2px solid
    border-radius: 100%
    margin-bottom: 20px
.box-header
    text-transform: uppercase
    font-weight: bold
    color: #c0cccb
    letter-spacing: 1.3px
.box-header.large
    font-size: 36px
.box-icon
    width: 50px
    height: 50px
.box-btn
    display: inline-block
    padding: 14px 25px
    font-weight: 400 !important
    text-decoration: none !important
    transition: all 300ms ease
    background: $primary-color !important
    color: #fff !important
    border-radius: 3px
    cursor: pointer
.box-btn.dark
    color: white !important
    border: 2px solid #ffffff
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2)
.box-btn:link
    background-color: inherit
    color: inherit
.box-btn:visited
    background-color: inherit
    color: inherit

.box-btn:hover,
.box-btn.dark:hover
    background-color: #e6e6e6 !important
    color: #323232 !important

.box-btn:active
    background-color: inherit
    color: inherit
.questions-wrapper
    height: auto
    padding: 50px 15px
    background: $secondary-color
    margin-bottom: 6px

.questions-inner
    height: 100%
    text-align: center

/* New Finance Page */
#finance-bodycontent 
    .listing-detail.col-md-12>.row
        display: flex
        flex-wrap: wrap-reverse

#finance-bodycontent 
    .listing-detail.col-md-12>.row>.col-md-6
        width: 100%

#finance-bodycontent 
    .listing-detail.col-md-12>.row>.col-md-6 
        .overview 
            ul
                max-width: 300px


@media screen and ( max-width: 992px )
    .area-item
        width: 45%
    #hero_wrpr
        width: 100%
        top: 150px
        h1
            font-size: 36px
    #hero_button
        font-size: 18px

@media screen and ( max-width: 875px )
    .flx-ctr_col_50per
        width: 100%
        text-align: center
    

@media screen and ( max-width: 767px )
    .area-item
        width: 100%
    #hero_wrpr
        top: 100px
        font-size: 1.3em
        padding: 0 15px
        margin-bottom: 0
        h1
            font-size: 36px

@media screen and ( max-width: 550px )
    .flx-ctr_col_50per
        height: 500px
        padding: 40px
    #hero_wrpr
        top: 140px
        h1
            font-size: 32px
    #hero_button
        display: none
    
    
