$primary-color: #0065a8
$secondary-color: #00375c
/*--Custom Page Tabs--*/
.nav-tabs 
    margin: 0;
    background-color: transparent;
    >li
        float: left;
        margin-bottom: -1px;
    >li:last-of-type
        >a
            margin-right: 0
    >li
        >a 
            margin-right: 2px;
            line-height: 1.42857143;
            border-radius: 4px 4px 0 0;
        >a:hover
            border-color: #eee #eee #ddd
    >li
        >a.active
        >a.active:focus
        >a.active:hover
            color: #555;
            background-color: #fff;
            border-bottom-color: transparent;
.nav.nav-tabs
    >li
        >a
            position: relative;
            display: block;
            padding: 8px 10px;
            cursor: pointer;
        >a:focus
        >a:hover
            text-decoration: none;
            background-color: #eee;
.tab-content
    padding: 24px;
    border-top: none;
    border-radius: 0 4px 4px 0
    >.tab-pane
        display: none;
    >.active
        display: block;
    .col
        line-height: 2rem;
        text-align: center;
.fade
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
.front
    #hero-tabs
        position: relative;
        z-index: 1;
        .row
        .nav-tabs
            flex-direction: row;
            boarder: none;
            >li
                display: flex;
                padding: 0;
                >a
                    display: flex;
                    background-color: rgba(51, 51, 51, 0.15);
                    color: #fff;
                    border: none;
                    text-align: center;
                    font-weight: 500;
                    font-size: 1rem;
                >a:hover
                    background-color: $secondary-color
                >a.active
                    background-color: $primary-color
                >a.active:hover
                    background-color: $secondary-color
                    color: #fff
    .tab-content
        position: relative;
        z-index: 100;
        background-color: transparant;
        padding: 0;
        border: none;
        border-radius: 0;
        .iframe
            height: 366px;
        .row
            padding: 0;
            margin: 0;
            justify-content: center;
    #horizontal-search
        margin-top: 0 !important;
        padding-bottom: 57px !important;
@media only screen and (min-width: 576px)
    .front
        #hero-tabs
            .nav-tabs
                >li
                    >a
                        font-weight: 600;
                        font-size: 1.25rem;
@media only screen and (min-width: 768px)
    .front
        .tab-content
            iframe
                height: 204px;
@media screen and ( min-width:  992px)
    .front
        #hero-tabs
            .nav-tabs
                padding: 0 1px;
        .tab-content
            iframe
                height: 150px;
    
    
    
