#buyer-header-content
    #quick-search
        #header-search
            display: flex
            flex: 1
            justify-content: center
            margin-top: -14px
        #header-search::before
            border-right: none
        #header-search::after
            border-left: none
            content: ''
            display: inline-block
            width: 16px
            height: 80px
            border: 1px solid rgba(0, 0, 0, 0.4)
    .input-group.location-form-group
        width: calc( 100% - 28px )
        border-spacing: 4px
    .token-input.tt-input
        width: 100% !important
    .input-group-addon
        position: relative
        width: 40px
        border-right: 1px solid #ccc
        i.fa
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
    .tt-menu
        min-width: unset !important
        max-width: 100%
#custom-horizontal-search
    .form-group
        padding: 0 2px
        .form-control
            border: none
            background-color: transparant
            box-shadow: none
            color: #000
            input::placeholder
                color: #000 
    .location-form-group
        width: 83.33%

        .form-control
            padding: 10px 25px 6px 12px
            #location_search-tokenfield
                vertical-align: middle
            #location_search-tokenfield::-moz-placeholder
                color: #000 
                opacity: 1
            #location_search-tokenfield::-ms-input-placeholder
                color: #000 
        .form-control::placeholder
            #000 
        .form-control,
        .form-group
            >.form-control
                border-bottom: 1px solid rgba(0, 0, 0, 0.4)
            .form-group::nth-child(7)
                width: 16.66%
    #listing_search_form
        >.row
            margin-left: 0
            margin-right: 0
            display: none
    #horizontal-search
        form
            .form-group:nth-child(2),
            .form-group:nth-child(3),
            .form-group:nth-child(4),
            .form-group:nth-child(5),
            .form-group:nth-child(6)
                display: none
    #qs-submit
        padding: 7px
        background-color: transparant
        color: #000 
        border: 1px solid rgba(0, 0, 0, .4)
        i 
            margin-right: 0
        span 
            display: none
    #qs-submit:hover
        color: #000 
        background-color: #fff
        i 
            color: #000 
    

@media screen and ( min-width: 992px )
    #custom-horizontal-search
        .location-form-group
            width: 33.33%
        #horizontal-search
            form 
                .form-group:nth-child(2),
                .form-group:nth-child(3),
                .form-group:nth-child(4),
                .form-group:nth-child(5),
                .form-group:nth-child(6)
                    display: inline-block
        #qs-submit
            i 
                margin-right: 4px
            span 
                display: inline
    
@media screen and ( min-width: 768px )
    #buyer-header-content
        #quick-search
            display: flex
            justify-content: center
            #quick-search-title
                width: 114px
                margin-right: 12px
                font-size: 1.75rem
            #header-search
                margin-top: 0
