#home-bodycontent
    .tokenfield.form-control
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    .cover.cover-center
        .form-group
            display: flex;
            flex: 1;
            float: left;
        .formgroup.col-xs-12.col-md-2.col-lg-2
            display: flex;
    #horizontal-search
        span.twitter-typeahead
            .tt-menu
                min-width: 100%;
                z-index: 1000 !important;
        .container
            padding: 0;
        #qs-submit
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            font-size: 16px;
            height: 56px;
#location_search-tokenfield
    display: flex;
    flex: 1;
    width: 100%
#scrollable-dropdown-menu
    flex: 1

@media screen and ( max-width: 992px )
    #home-bodycontent
        .tokenfield.form-control
            border-radius: 5px
        #horizontal-search
            .form-group.col-xs-12.col-md-2.col-lg-2
                display: flex
                justify-content: center
                padding-top: 10px
            .col-md-2
                width: 100%
            #qs-submit
                width: 30%
                border-radius: 50px
@media screen and ( max-width: 578px  )
    #home-bodycontent
        #horizontal-search
            #qs-submit
                width: 100%
                border-radius: 5px
        .form-group.col-xs-12.col-md-2.col-lg-2
            padding-top: 5px
    
    
