$primary-color: #0065a8
$secondary-color: #00375c
/*#sellform
 >div
 >div:nthchild(1)
 width: 75% !important
//#sellques,
/*#sellbutton
 height: 54px !important
 border-radius: 0 !important
 margin-top: 0 !important
 background: $primary-color !important
 transition: all .2s ease-in-out
/*#sellbuttom:hover
 background: transparant
 color: $secondary-color

.inner-main-content
    padding-top: 0
    >.container
        max-width: 100%
        padding: 0
        >.row
            margin: 0
            >.col-md-8
                width: 100%
                max-width: 100%
                padding: 0
                >.col-md-12
                    margin-bottom: 0 !important
                    padding: 0
            >.col-md-4.col-lg-4,
            .sidebar
                display: none
#seller-services
    background-color: #efefef
#seller-header,
#home-value,
#roadmap
    min-height: 720px
.bg-wrap 
    clip: rect(0, auto, auto, 0)
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
.bg
    position: fixed
    display: block
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-size: cover
    transform: translateZ(0)
    will-change: transform
.bg-wrap
    .bg::after
        content: ''
        position: absolute
        width: 100%
        height: 100%
        background-color: #000 
        opacity: .2
#roadmap
    .bg-wrap
        .bg::after
            opacity: .7
#seller-header-content,
#home-value-content,
#roadmap-container
    z-index: 1

#seller-header-content
    background-color: rgba(0, 0, 0, 0.3)
    border-radius: 6px
    #instant-valuation
        .valuation-wrapper
            display: flex
            flex: 1
            align-items: center
            margin: -14px
            width: calc(100% - 32px)
            iframe
                position: absolute
                top: -64px
                left: 0
        .valuation-wrapper::before,
        .valuation-wrapper::after
            content: ''
            display: inline-block
            width: 16px
            height: 160px
            border: 1px solid #fff
            border-left: none
        .valuation-wrapper::before
            border-right: none
#seller-details
    .img-container
        overflow: hidden
    img
        display: block
        width: 150%
        max-width: 100%
        height: 100%
        min-height: 470px
        object-fit: cover
#home-value-content
    max-width: 720px
    background-color: rgba(255, 255, 255, .75)
    border-radius: 6px
#roadmap
    .row
        .col-md-6
            border-left: 1px solid #ccab6c
    .row:nth-child(odd)
        .col-md-6:nth-child(odd)::before,
        .row:nth-child(even)
        .col-md-6:nth-child(even)::before
            display: block
            position: absolute
            top: .25rem
            left: -.3625rem
            font-family: "FontAwesome"
            font-size: .75rem
            color: $primary-color
            content: '\f111'
span.h5::before,
span.h5::after
    display: inline-block
    content: ""
    border-top: 1px solid #fff 
    width: 45px
    margin: 0 12px
    transform: translate(-6px)
#homeowner-badge
    max-width: 280px
    margin: 0 auto



@media screen and ( min-width: 992 )
    #seller-header-content
        #instant-valuation
            .valuation-wrapper::before,
            .valuation-wrapper::after
                height: 80px
            .valuation-wrapper
                iframe
                    top: -34px
    

@media screen and ( min-width: 768px )
    #seller-header-content
        #instant-valuation
            display: flex
            align-content: center
            #instant-valuation-title
                width: 165px
                margin-right: 12px
                font-size: 1.75rem
        .valuation-wrapper
            margin-top: 0
    #seller-details
        img
            position: absolute
    #roadmap
        .row
            .col-md-6
                border-left: none
            .col-md-6:first-child
                border-right: 1px solid #ccab6c
        .row:nth-child(odd)
            .col-md-6:nth-child(odd)::before
                right: -.3625rem
                left: unset
    
