/*----- Bootstrap Updates -----*/
.position-realative
    position: relative
.d-none
    display: none
.d-block
    display: block
.d-inline-block
    display: inline-block
.flex-column
    flex-direction: column
.align-items-center
    align-items: center !important
.h-100
    height: 100%
.w-100
    width: 100%
.mx-auto
    margin-left: auto
    margin-right: auto
.text-white
    color: #fff 
.font-weight-bold
    font-weight: bold !important
.btn-white-outline,
.btn-white-outline:hover
    border: 1px solid #fff  
.row.eq.height
    display: -ms-flexbox
    display: flex;
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    .col-xs-12
        -ms-flex: 0 0 100%
        flex: 0 0 100%
        max-width: 100%
.row.no-gutters
    margin-right: 0
    margin-left: 0
    >[class*=col-]
        padding-right: 0
        padding-left: 0
/*----- Remove Padding from Site Customizer Container -----*/
#home-bodycontent
    .main-wrapper
        .content
            >.container-fluid
                padding-left: 0
                padding-right: 0
                section#categories.p-t-3
                    padding-top: 0 !important

@media screen and ( min-width: 1200px )
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl
        max-width: 1140px

@media screen and ( min-width: 992px )
    .container-sm,
    .container-md,
    .container-lg
        max-width: 960px
    .row.eq-height
        .col-lg-4
            -ms-flex: 0 0 33.33%
            flex: 0 0 33.33%
            max-width: 33.33%

@media screen and ( min-width: 768px)
    .container-sm,
    .container-md
        max-width: 720px
    .d-md-inline-block
        display: inline-block !important
    .d-md-none
        display: none !important
    .row.eq-height 
        .col-md-6
            -ms-flex: 0 0 50%
            flex: 0 0 50%
            max-width: 50%
@media screen and ( min-width: 576px )
    .containter-sm
        max-width: 540px
    

    
    
